@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "@radix-ui/colors/mauve.css"; */

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #edf1f5;
	color: black;
}

a {
	color: inherit;
	text-decoration: none;
}

@keyframes reveal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.left-triangle::before {
	content: "";
	position: absolute;
	top: 1rem;
	left: -2px;
	z-index: 30;
	width: 0;
	height: 0;
	border-top: 0.5rem solid transparent;
	border-bottom: 0.5rem solid transparent;

	border-left: 0.65rem solid white;
	animation: reveal 1s ease-in linear;
}
.right-triangle::before {
	content: "";
	position: absolute;
	top: 1rem;
	right: -1rem;
	z-index: 30;
	width: 0;
	height: 0;
	border-top: 0.5rem solid transparent;
	border-bottom: 0.5rem solid transparent;
	border-left: 0.65rem solid white;
	transform: rotate(180deg);
	animation: reveal 1s ease-in linear;
}

/* radix */

a {
	all: unset;
}

.HoverCardContent {
	border-radius: 6px;
	padding: 20px;
	width: 300px;
	background-color: white;
	box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
}
.HoverCardContent[data-side="top"] {
	animation-name: slideDownAndFade;
}
.HoverCardContent[data-side="right"] {
	animation-name: slideLeftAndFade;
}
.HoverCardContent[data-side="bottom"] {
	animation-name: slideUpAndFade;
}
.HoverCardContent[data-side="left"] {
	animation-name: slideRightAndFade;
}

.HoverCardArrow {
	fill: white;
}

.ImageTrigger {
	cursor: pointer;
	border-radius: 100%;
	display: inline-block;
}
.ImageTrigger:focus {
	box-shadow: 0 0 0 2px white;
}

.Image {
	display: block;
	border-radius: 100%;
}
.Image.normal {
	width: 45px;
	height: 45px;
}
.Image.large {
	width: 60px;
	height: 60px;
}

.Text {
	margin: 0;
	color: var(--mauve-12);
	font-size: 15px;
	line-height: 1.5;
}
.Text.faded {
	color: var(--mauve-10);
}
.Text.bold {
	font-weight: 500;
}

@keyframes slideUpAndFade {
	0% {
		opacity: 0;
		transform: translateY(2px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	0% {
		opacity: 0;
		transform: translateX(-2px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	0% {
		opacity: 0;
		transform: translateY(-2px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	0% {
		opacity: 0;
		transform: translateX(2px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
